[*.cs]
indent_style = space
indent_size = 4
# CA1416: Validate platform compatibility
dotnet_diagnostic.CA1416.severity = none
# Use collection expression for fluent
dotnet_diagnostic.IDE0305.severity = none
# Use the 'StringComparison' method overloads to perform case-insensitive string comparisons
dotnet_diagnostic.CA1862.severity = none
# Simplify new expression 
dotnet_diagnostic.IDE0090.severity = none
# Ignore CA1822: Mark members as static
dotnet_analyzer_diagnostic.category-Style.severity = none
# Ignore CA1816: Call GC.Collect before allocating large objects
dotnet_diagnostic.CA1816.severity = none
# Ignore CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none